{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <button class="btn btn-success" data-toggle="modal" data-target="#addcontragent">Добавить пользователя</button>
        <hr>
        <div class="accordion" id="accordionExample">
            {% for a in page_obj %}
                <div class="card">
                    <div class="card-header" id="headingOne_{{ a.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne_{{ a.id }}"
                                    aria-expanded="true" aria-controls="collapseOne_{{ a.id }}">
                                {{ a.username }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne_{{ a.id }}" class="collapse" aria-labelledby="headingOne_{{ a.id }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">email</th>
                                    <th scope="col">адрес</th>
                                    <th scope="col">описание</th>
                                    <th scope="col">добавлен</th>
                                    <th scope="col">обнавлен</th>
                                    <th scope="col">действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ a.email }}</td>
                                    <td>{{ a.address }}</td>
                                    <td>{{ a.description }}</td>
                                    <td>{{ a.date_add }}</td>
                                    <td>{{ a.date_update }}</td>
                                    <td>
                                        <button onclick="updateAgent({{ a.pk }})" class="btn btn-warning">Изменить
                                        </button>
                                        <button class="btn btn-danger">Удалить</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>


        <!-- Modal addcontragent -->
        <div class="modal fade" id="addcontragent" tabindex="-1" role="dialog" aria-labelledby="addcontragent"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gosnomeravto">Добавить контрагента</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-7">
                            <label for="contragentName">login</label>
                            <input type="text" class="form-control" id="contragentName"
                                   name="contragentName"
                            >
                        </div>
                        <div>
                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">password </label>
                                <input type="password" class="form-control" id="pass" name="pass">
                            </div>
                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">password confirm </label>
                                <input type="password" class="form-control" id="passConf" name="passConf">
                            </div>
                        </div>
                        <div>
                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">Имя </label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>

                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">Отчество </label>
                                <input type="text" class="form-control" id="secondName" name="secondName">
                            </div>
                        </div>
                        <div>
                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">Фамилия </label>
                                <input type="text" class="form-control" id="lastName" name="lastName">
                            </div>
                            <div class="d-inline-block form-group col-md-5">
                                <label for="unp">Телефон </label>
                                <input type="text" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                                <label for="unp">Должность </label>
                                <input type="text" class="form-control" id="role" name="role">
                            </div>
                        <div class="form-group col-md-6">
                                <label for="unp">День рождения </label>
                                <input type="date" class="form-control" id="birth_date" name="birth_date">
                            </div>


                        <div class="d-inline-block  form-group col-3 ">
                                <label for="role_user"><b>Роль пользователя</b></label>

                                <select id="role_user">
                                    <option selected="true" disabled>Выберите роль</option>
                                    {% for r in  roles %}
                                     <option value="{{ r.0 }}">{{ r.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>



                        <div class="form-group col-md-8 ">
                            <label for="numH">Описание</label>
                            <textarea class="form-control"
                                      id="description" name="description"></textarea>
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">отмена</button>
                        <button type="button" onclick="addContragent()" class="btn btn-primary">Добавить</button>
                    </div>

                    <form method="post">
  {% csrf_token %}
  {{ userform.as_p }}
  {{ profileform.as_p }}
  <button type="submit">Save changes</button>
</form>




                </div>
            </div>
        </div>


        <!-- Modal addcontragent -->
        <div class="modal fade" id="updcontragent" tabindex="-1" role="dialog" aria-labelledby="updcontragent"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gosnomeravtoUpd">Обновить контрагента</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-7">
                            <label for="contragentNameUpd">название контрагента</label>
                            <input type="text" class="form-control" id="contragentNameUpd"
                                   name="contragentNameUpd"
                            >
                        </div>
                        <div class="form-group col-md-5">
                            <label for="unpUpd">УНП </label>
                            <input type="text" class="form-control" id="unpUpd" pattern="[0-9]{9}" name="unpUpd">
                        </div>

                        <div>
                            <div class="d-inline-block  form-group col-6 ">

                                <hr style="width: 80%;">
                                <label for="cityUpd">Населенный пункт</label>
                                <input type="text" class="form-control"
                                       id="cityUpd" name="cityUpd">
                            </div>

                            <div class="d-inline-block  form-group col-3 ">
                                <label for="npUpd"><b>насселенный пункт</b></label>

                                <select id="npUpd">
                                    <option value="gorod">город</option>
                                    <option value="gp">поселок гор-го типа</option>
                                    <option value="derev">сельский нас-ый пункт</option>
                                </select>
                            </div>
                        </div>


                        <div>
                            <div class="d-inline-block  form-group col-7 ">

                                <hr style="width: 80%;">
                                <label for="streetUpd">Улица\переулок</label>
                                <input type="text" class="form-control"
                                       id="streetUpd" name="streetUpd">
                            </div>

                            <div class="d-inline-block  form-group col-3 ">
                                <label for="typestreetUpd"><b>улица\переулок</b></label>

                                <select id="typestreetUpd">
                                    <option value="prospect">проспект</option>
                                    <option value="bulvar">бульвар</option>
                                    <option value="street">улица</option>
                                    <option value="per">переулок</option>
                                    <option value="proezd">проезд</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group col-md-5 ">
                            <label for="numHUpd">номер дома</label>
                            <input type="text" class="form-control" pattern="[0-9]"
                                   id="numHUpd" name="numHUpd">
                        </div>
                        <div class="form-group col-md-8 ">
                            <label for="descriptionUpd">Описание</label>
                            <textarea class="form-control"
                                      id="descriptionUpd" name="descriptionUpd"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">отмена</button>
                        <button type="button" onclick="addUpdContragent()" class="btn btn-primary">Обновить</button>
                    </div>
                </div>
            </div>
        </div>


        {% csrf_token %}


    </div>

    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'b.min.js' %}"></script>


    <script>
        var allAgents = '{{ users }}';
        allAgents = allAgents.replace(/&quot;/g, '"');

        // allAgents = allAgents.slice(0,-1);
        // allAgents = allAgents.slice(1);
        // allAgents = "{"+allAgents+"}";
        allAgents = JSON.parse(allAgents);
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function addAction(action) {
            let data = "where=contragents&action=" + action + "&user={{ request.user.id }}";

            $.ajax({
                type: "POST",
                url: '{% url 'addaction' %}',
                data: data,
                success: function () {
                    console.log('Load was performed.');
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }

        function addContragent() {
            let name = $("#contragentName").val();
            let unp = $("#unp").val();
            let city = $("#city").val();
            let typeOfCity = $("#np").val();
            let street = $("#street").val();
            let typeOfStreet = $("#typestreet").val();
            let numHouse = $("#numH").val();
            let description = $("#description").val();
            // validation
            if (!name) {
                addAction('оператор добавляя запись в список не указал название контрагента');
                alert('Вы не ввели навзание кнтрагента');
                $("#contragentName").focus();
                return;
            }
            if (!unp) {
                addAction('оператор добавляя запись в список не указал УНП контрагента');
                alert('Вы не указали УНП  кнтрагента');
                $("#unp").focus();
                return;
            }
            if (!city) {
                addAction('оператор добавляя запись в список не указал город контрагента');
                alert('Вы не указали насселеный пункт  кнтрагента');
                $("#city").focus();
                return;
            }
            if (!street) {
                addAction('оператор добавляя запись в список не указал улицу  контрагента');
                alert('Вы не указали улицу где зарегестрирован кнтрагент');
                $("#street").focus();
                return;
            }
            if (!numHouse) {
                addAction('оператор добавляя запись в список не указал номер дома  контрагента');
                alert('Вы не указали номер дома где зарегестрирован кнтрагент');
                $("#numH").focus();
                return;
            }
            if (!description) {
                addAction('оператор добавляя запись в список не написал описание контрагента ');
                if (!confirm('Вы не описание контрагента. Продолжить?')) {
                    return;
                }
            }
            if (!unp.match(/[0-9]{9}/)) {
                alert("В поле УНП должны быть введены только 9 цифр");
                $("#unp").focus();
                return;
            }
            if (!numHouse.match(/^[ 0-9]+$/)) {
                alert("В поле номер дома должны быть введены только цифры");
                $("#numH").focus();
                return;
            }
            // post data to server
            data = {
                "name": name,
                "unp": unp,
                "city": city,
                'typeCity': typeOfCity,
                "street": street,
                "typeStreet": typeOfStreet,
                "numHouse": numHouse,
                "description": description
            };
            $.ajax({
                type: "POST",
                url: '{% url 'addcontragentPOST' %}',
                data: data,
                success: function () {
                    addAction("Добавил контрагента");
                    console.log('Load was performed.');
                    document.location.reload(true);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }

        var id_select;

        function updateAgent(id) {
            let res;
            id_select = id;
            $("#updcontragent").modal('show');
            allAgents.forEach(function (a, b) {
                if (a.pk == id) {
                    res = a.fields;
                }
            });
            var arr = res.address.split(",");
            var arrG = arr[0].split(" ");
            var arrC = arr[1].split(" ");
            var cities = {
                'г.': 'gorod',
                "гп.": 'gp',
                "поселок": 'derev'
            };
            var streets = {
                "проспект": 'prospect',
                "бульвар": 'bulvar',
                "улица": 'street',
                "переулок": 'per',
                'проезд': 'proezd'
            };
            $("#contragentNameUpd").val(res.name);
            $("#unpUpd").val(res.unp);
            $("#cityUpd").val(arrG[0]);
            $("#npUpd").val(cities[arrG[1]]);
            $("#streetUpd").val(arrC[2]);
            $("#typestreetUpd").val(streets[arrC[1]]);
            $("#numHUpd").val(arr[2]);
            $("#descriptionUpd").val(res.description);

            console.log(res);
        }


        function addUpdContragent() {
            let name = $("#contragentNameUpd").val();
            let unp = $("#unpUpd").val();
            let city = $("#cityUpd").val();
            let typeOfCity = $("#npUpd").val();
            let street = $("#streetUpd").val();
            let typeOfStreet = $("#typestreetUpd").val();
            let numHouse = $("#numHUpd").val();
            let description = $("#descriptionUpd").val();
            // validation
            if (!name) {
                addAction('оператор добавляя запись в список не указал название контрагента');
                alert('Вы не ввели навзание кнтрагента');
                $("#contragentName").focus();
                return;
            }
            if (!unp) {
                addAction('оператор добавляя запись в список не указал УНП контрагента');
                alert('Вы не указали УНП  кнтрагента');
                $("#unp").focus();
                return;
            }
            if (!city) {
                addAction('оператор добавляя запись в список не указал город контрагента');
                alert('Вы не указали насселеный пункт  кнтрагента');
                $("#city").focus();
                return;
            }
            if (!street) {
                addAction('оператор добавляя запись в список не указал улицу  контрагента');
                alert('Вы не указали улицу где зарегестрирован кнтрагент');
                $("#street").focus();
                return;
            }
            if (!numHouse) {
                addAction('оператор добавляя запись в список не указал номер дома  контрагента');
                alert('Вы не указали номер дома где зарегестрирован кнтрагент');
                $("#numH").focus();
                return;
            }
            if (!description) {
                addAction('оператор добавляя запись в список не написал описание контрагента ');
                if (!confirm('Вы не описание контрагента. Продолжить?')) {
                    return;
                }
            }
            if (!unp.match(/[0-9]{9}/)) {
                alert("В поле УНП должны быть введены только 9 цифр");
                $("#unp").focus();
                return;
            }
            if (!numHouse.match(/^[ 0-9]+$/)) {
                alert("В поле номер дома должны быть введены только цифры");
                $("#numH").focus();
                return;
            }
            // post data to server
            data = {
                "name": name,
                "unp": unp,
                "city": city,
                'typeCity': typeOfCity,
                "street": street,
                "typeStreet": typeOfStreet,
                "numHouse": numHouse,
                "description": description,
                "id": id_select
            };
            $.ajax({
                type: "POST",
                url: '{% url 'updcontragentPOST' %}',
                data: data,
                success: function () {
                    addAction("Добавил контрагента");
                    console.log('Load was performed.');
                    document.location.reload(true);
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }


    </script>

{% endblock %}