{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <button class="btn btn-success" data-toggle="modal" data-target="#addcontragent">Добавить пользователя</button>
        <hr>
        <div class="accordion" id="accordionExample">
            {% for a in page_obj %}
                <div class="card">
                    <div class="card-header" id="headingOne_{{ a.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne_{{ a.id }}"
                                    aria-expanded="true" aria-controls="collapseOne_{{ a.id }}">
                                {{ a.username }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne_{{ a.id }}" class="collapse" aria-labelledby="headingOne_{{ a.id }}"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">email</th>
                                    <th scope="col">адрес</th>
                                    <th scope="col">описание</th>
                                    <th scope="col">добавлен</th>
                                    <th scope="col">обнавлен</th>
                                    <th scope="col">действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ a.email }}</td>
                                    <td>{{ a.address }}</td>
                                    <td>{{ a.description }}</td>
                                    <td>{{ a.date_add }}</td>
                                    <td>{{ a.date_update }}</td>
                                    <td>
                                        <a href="{% url 'ves:usersUpd'  a.id  %}" class="btn btn-warning">Изменить
                                        </a>
                                        <button class="btn btn-danger">Удалить</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>


        <!-- Modal addcontragent -->
        <div class="modal fade" id="addcontragent" tabindex="-1" role="dialog" aria-labelledby="addcontragent"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gosnomeravto">Добавить пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    <form method="post">
  {% csrf_token %}
                        { userform.as_p }}

                        <div class="form-group">
                            <label>Никнейм</label><br>
                            {{ userform.username }}
                        </div>
                        <div class="form-group">
                             <label>Имя</label><br>
                            {{ userform.name }}
                        </div>
                        <div class="form-group">

                            <label>Отчесвто</label><br>
                            {{ userform.secondName }}
                        </div>
                        <div class="form-group">
                             <label>Фамилия</label><br>
                            {{ userform.lastName }}
                        </div>
                        <div class="form-group">
                            <label>Должность</label><br>
                            {{ userform.role }}
                        </div>
                        <div class="form-group">
                            <label>Роль</label><br>
                            {{ userform.user_role }}
                        </div>
                         <div class="form-group">
                             <label>Пароль</label><br>
                            {{ userform.password1 }}
                        </div>
                        <div class="form-group">
                             <label>Подтверждение пароля</label><br>
                            {{ userform.password2 }}
                        </div>
                        <div class="form-group">
                            <label>Телефон</label><br>
                            {{ userform.phone }}
                        </div>
                        <div class="form-group">
                            <label>Дата рождения</label><br>
                            {{ userform.birth_date }}
                        </div>
                        <div class="form-group">
                            <label>Дополнительная информация</label><br>
                            {{ userform.descriptions }}
                        </div>

  <button type="submit">Добавить</button>

</form>
                    </div>
            </div>
        </div>


        {% csrf_token %}


    </div>

    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'b.min.js' %}"></script>


    <script>
        var allAgents = '{{ users }}';
        allAgents = allAgents.replace(/&quot;/g, '"');

        // allAgents = allAgents.slice(0,-1);
        // allAgents = allAgents.slice(1);
        // allAgents = "{"+allAgents+"}";
        allAgents = JSON.parse(allAgents);
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function addAction(action) {
            let data = "where=contragents&action=" + action + "&user={{ request.user.id }}";

            $.ajax({
                type: "POST",
                url: '{% url 'addaction' %}',
                data: data,
                success: function () {
                    console.log('Load was performed.');
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }
$('input').addClass("form-control");
    </script>

{% endblock %}