{% extends 'base.html' %}
{#{% load static %}#}

{% block title %}
    Автотранспорт

{% endblock %}

{% block content %}

    <div id="body" class="container-fluid" style="text-align: center;">
        <input type="checkbox" id="hmt" class="hidden-menu-ticker">

        <label class="btn-menu" for="hmt">
            авто на территории
        </label>
        <div class="hidden-menu" style="overflow: auto;">

            <div class="accordion" id="accordionExample">
                {% for a in auto_in %}
                    <div class="card">
                        <div class="card-header" id="headingOne_{{ a.id }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne_{{ a.id }}"
                                        aria-expanded="true" aria-controls="collapseOne_{{ a.id }}">
                                    {{ a.number }}  --
                                    {{ a.datanakladnayaauto_set.get.productionId.name}}
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne_{{ a.id }}" class="collapse" aria-labelledby="headingOne_{{ a.id }}"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th rowspan="2"  scope="col">агент</th>
                                        <th colspan="4" scope="col">накладная</th>

                                        <th rowspan="2" scope="col">время</th>
                                        <th rowspan="2" scope="col">загружен</th>
                                        <th rowspan="2" scope="col">масса, кг</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">тип </th>
                                        <th scope="col">номер</th>
                                        <th scope="col">вес</th>
                                        <th scope="col">дата</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ a.agents.name }}</td>
                                    <td>{% if a.datanakladnayaauto_set.get.type == 1 %}ТН{% else %}ТТН{% endif %}</td>
                                        <td>
                                            {{ a.datanakladnayaauto_set.get.seria }}-{{ a.datanakladnayaauto_set.get.number }}</td>

                                     <td>{{ a.datanakladnayaauto_set.get.ves_nakladnaya }}</td>
                                     <td>{{ a.datanakladnayaauto_set.get.date }}</td>

                                        <td>{{ a.last_in }}</td>
                                     <td>{% if a.tara == 1 %}
                                         <span class="bg-warning"> груженый</span>
                                     {% else %} <span class="bg-success">пустой </span>
                                     {% endif %}</td>
                                        <td>{{ a.ves_in }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>


        </div>
</div>


{% include  'ves/ves_row.html' %}
{% include 'ves/nakladnaya_row.html' %}
{% include 'ves/svet_row.html' %}
{% include 'ves/cam_row.html' %}



    <!-- Modal change GosNomAvto -->
    <div class="modal fade" id="gosnomeravto" tabindex="-1" role="dialog" aria-labelledby="gosnomeravto"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 70%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="gosnomeravto">Измение номера авто</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <label for="gosNavto">Номер авто</label>
                        <input type="text" class="form-control text-left" style="width:30%" id="gosNavto" pattern="([0-9]{4})" maxlength='4'
                        >
                    </div>
                    <div class="form-group col-12">
                        <label for="seriaAvto">Серия </label>
                        <input type="text" class="form-control" id="seriaAvto" maxlength="2"
                               pattern="([a-zA-Z]{4})" name="seriaAvto" style="width:30%">
                    </div>
                    <div class="form-group col-12">
                        <label for="regionAvto">Регион</label>
                        <input type="text" class="form-control" pattern="([0-7]$)"
                               id="regionAvto" maxlength="1" name="regionAvto" style="width:30%">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" onclick="changeNumAvto()" class="btn btn-primary">Изменить номер</button>
                </div>
            </div>
        </div>
    </div>



    {% csrf_token %}
{#Visible block nakladnay, camera, svetofor#}
<script>
$("#clickDataNakladnaya").click(function(){
   displayBlock("#DanniePoTransporty");
});


        $('#gosnomeravto').on('hidden.bs.modal', function (e) {

            pricep = false;
        })



$("#clickDataSvet").click(function(){
   displayBlock("#svetControl");
});

$("#clickDataCamera").click(function(){
   displayBlock("#cameraControl");
});

const displayBlock = (blockId) => {
    if ($(blockId).css('display') == 'none')
        {
            $(blockId).animate({height: 'show'}, 300);
        }
    else
        {
            $(blockId).animate({height: 'hide'}, 300);
        }
};
</script>
{#check Field#}
    <script>
        const arrayInputId=["name_driver","data_auto","data_pricep","Nputev","pogruzka","razgruzka","agent","agentPoluchit","razreshil","osnovanie","prinal","sdal","gruzopoluchatel","doverennost","ttn","seria","nakladnaya","dateNakladnaya","name_tovar","ves_nakladnaya","ed_ves","cena","valuta","price_no_nds","nds","summ_nds","cena_nds","kol_mest","mass_gruza","description"];
const arrayLabelTrue=["Водитель","Автомобиль","Прицеп","№ путевого листа","Пункт погрузки","Пункт разгрузки","Грузоотправитель","Грузополучатель","Отпуск разрешил","Основание отпуска","Товар к доставке принял","Сдал грузоотправитель","Принял грузопучатель","Доверенность","Тип накладной","Серия накладной","Номер накладной","Дата накладной","Наименование товара","Количество","Ед","Цена","Валюта","Стоимость","Ставка НДС","Сумма НДС","Стоимость с НДС","Количествово мест","Масса груза","Описание"]
const arrayLabelFalse=["Водитель: Фамилия И.О.","Автомобиль","Прицеп","№ путевого листа","Пункт погрузки","Пункт разгрузки","Грузоотправитель","Грузополучатель","Отпуск разрешил","Основание отпуска","Товар к доставке принял","Сдал грузоотправитель","Принял грузопучатель","Доверенность","Тип накладной","Серия накладной","Номер накладной","Дата накладной","Наименование товара","Количество","Ед","Цена","Валюта","Стоимость","Ставка НДС","Сумма НДС","Стоимость с НДС","Количествово мест","Масса груза","Описание"]

$("#name_driver").change(function(e) {
   let regexp = /^[А-Яа-я\s.]+$/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#data_auto").change(function(e) {
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldEmpty(this,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#Nputev").change(function(e) {
    let regexp = /^[0-9]+$/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#seria").change(function(e) {
   let regexp = /^[A-Z]{2}/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#nakladnaya").change(function(e) {
    let regexp = /^[0-9]+$/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#ves_nakladnaya").change(function(e) {
    let regexp = /^[0-9]+$/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

$("#cena").change(function(e) {
    let regexp = /^[0-9]+$/i;
    let lT=arrayLabelTrue[arrayInputId.indexOf(this.id)];
    let lF=arrayLabelFalse[arrayInputId.indexOf(this.id)];
    checkFieldRegexp(this,regexp,e);
    changeLabel(this,$("label[for="+this.id+"]"),lT,lF)
});

const checkFieldEmpty = (id,e) => {
    red = $(this).hasClass("border-danger");
    green = $(this).hasClass("border-success")
    if($(id).val() ==='' || $(id).val() ===0 || $(id).val() ===false) {
       e.preventDefault();
       if ((green==true) || (green==false && red==false)){
           $(id).removeClass("border-success");
            $(id).addClass("border-danger");
       };
   } else {
       if ((red==true) || (green==false && red==false)){
           $(id).removeClass("border-danger");
            $(id).addClass("border-success");
       };
   }
};

const checkFieldRegexp = (id, regexp,e) => {
    red = $(this).hasClass("border-danger");
    green = $(this).hasClass("border-success")
    if(!regexp.test($(id).val())) {
       e.preventDefault();
       if ((green==true) || (green==false && red==false)){
           $(id).removeClass("border-success");
            $(id).addClass("border-danger");
       };
   } else {
       if ((red==true) || (green==false && red==false)){
           $(id).removeClass("border-danger");
            $(id).addClass("border-success");
       };
   }
};

const changeLabel = (idInput,idLabel,labelTextTrue,labelTextFalse) =>{
    red = $(idInput).hasClass("border-danger");
    green = $(idInput).hasClass("border-success")
    if (green==true){
           $(idLabel).text(labelTextTrue);
           $(idLabel).css("color","#212529");

   } else {
       $(idLabel).text(labelTextFalse);
       $(idLabel).css("color","#dc3545");
       }
   };

{#const checkAllFields = () => {#}
{#    let status=0;#}
{#    arrayInputId.forEach(function(item,i){#}
{#        if (($("#"+item+"").val()==='') || ($("#"+item+"").val()===0)) {#}
{#            status++#}
{#            $("#"+item+"").addClass('border-danger');#}
{#            $("label[for="+item+"]").text(arrayLabelFalse[i]).css("color","#dc3545");#}
{#                                          };#}
{#                                          });#}
{#    if (status>0){#}
{#        return false;#}
{#    } else {#}
{#        return true;#}
{#    }#}
{#        };#}

const clearFields = () => {
    arrayInputId.forEach(function(item,i){
        $("#"+item+"").val('').removeClass("border-success").removeClass("border-danger");
        $("label[for="+item+"]").text(arrayLabelTrue[i]).css("color","#212529");
        // console.log(item+" - "+arrayLabelTrue[i])
    });
    $("#ttn").val('1');
    $("#ed_ves").val('1');
    $("#valuta").val('1');
    $("#nds").val('20');
    // alert('done');
};

    </script>



    <script>
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        var pricep = false;
        var count = 1;
        var rowsTable = [];
        var Table = [];
        var urlAjaxAdd= '{% url 'addautoPOST' %}';

        let agents = "{{ agentsJ }}";
agents = agents.replace(/&quot;/g,'"');
agents = JSON.parse(agents);
let tovar = "{{ production }}";
tovar = tovar.replace(/&quot;/g,'"');
tovar = JSON.parse(tovar);
let catalogAuto = "{{ catalog }}";
catalogAuto = catalogAuto.replace(/&quot;/g,'"');
catalogAuto = JSON.parse(catalogAuto);
let newAgents =[];
    agents.forEach(function(a){
        newAgents.push(a.fields);
    });
        var filterInt = function (value) {
            if (/^(\-|\+)?([0-9]+|Infinity)$/.test(value))
                return Number(value);
            return false;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function addAction(action) {
            let data = "where=auto&action=" + action + "&user={{ request.user.id }}";
            $.ajax({
                type: "POST",
                url: '{% url 'addaction' %}',
                data: data,
                success: function () {
                    console.log('Load was performed.');
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }




let status1=false;
        function addAuto() {
            let numberPricep = $("#gos_num_pricep").val();
            var num = $('#gos_num_avto').val();
            var arrAuto = num.split('-');
            var arrPricep = num.split('-');
            let numAuto = arrAuto.join("");

            let nunu= numAuto;
            let numPricep = arrPricep.join("");
            let prov =parseInt(nunu);

            if(!prov  || prov==0){
                alert('ошибка с номером автотранспорта');
                 return;
            }
            let agent;
            let ves = $("#vesFix").html();
            let ves_nakladnay = $("#ves_nakladnaia").val();
            let nakladnay = $("#nakladnaya").val();
            if (!nakladnay && !status1) {
                alert('Вы не указали номер накладной');
                $("#nakladnaya").focus();
                return;
            }
            if (!nakladnay.match(/[0-9]{7}/) && !status1) {
                alert("В поле накладная должны быть введены только цифры");
                $("#nakladnaya").focus();
                return;
            }
            if(count<2 && !status1){
                alert('данные по накладной пусты'); $("#nameGruz").focus(); return;
            }
            let typeCar = $("[name='cheks']:checked").val();
            console.log(typeCar);
            if (typeCar == "1") {
                agent = $("#otpravitel").children("option:selected").val();
            } else {
                agent = $("#poluchatel").children("option:selected").val();
            }
            let obj = [];
            let c=0;
            Table.forEach(function (a, v) {
                obj[c]=[a.count,a.name,a.price,a.valuta,a.ves,a.ed];
                c++;
            });


            let data = {
                'ves': ves,
                'nakladnaya': nakladnay,
                'typeCar': typeCar,
                'numAuto': numAuto,
                'numPricep': numberPricep,
                'contragent': agent,
                "dataNakladnay":obj,
            };
console.log(data);
            $.ajax({
                type: "POST",
                url: '{% url 'addautoPOST' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function () {
                    console.log('Load was performed.');
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        }








var fieldO= $('#otpravitel').find('option');
// собственно поиск
$('#searchingOtpr').bind('keyup', function() {
    var q = new RegExp($(this).val(), 'ig'),
        bol = true;
if($('#searchingOtpr').val().length==0){
    $('#otpravitel').css('display','none');
}else{
    $('#otpravitel').css('display','block');
}
    for (var i = 0, l = fieldO.length; i < l; i += 1) {
        var option = $(fieldO[i]);
        if ($(fieldO[i]).text().match(q)) {
                option.show();
        } else {
            if (option.is('option') ) {
                option.hide() }
        } }
});


var fieldP= $('#poluchatel').find('option');
// собственно поиск
$('#searchingPol').bind('keyup', function() {
    var q = new RegExp($(this).val(), 'ig'),
        bol = true;
if($('#searchingPol').val().length==0){
    $('#otpravitel').css('display','none');
}else{
    $('#otpravitel').css('display','block');
}
    for (var i = 0, l = fieldP.length; i < l; i += 1) {
        var option = $(fieldP[i]);
        if ($(fieldP[i]).text().match(q)) {
                option.show();
        } else {
            if (option.is('option') ) {
                option.hide() }
        } }
});
let auto_in = "{{ JAuto }}";
auto_in = auto_in.replace(/&quot;/g,'"');
auto_in = JSON.parse(auto_in);


let ves_last=0;
function getData(){
    var num = $('#gos_num_avto').html();
    if(status!="true"){
        auto_in.forEach(function (a) {
            console.log(a);
            if(a.fields.number==num.replace(/-/g,'')){
                 console.log(num.replace(/-/g,''));
                status1 = true;
                $("#DataNakladnaya").hide();
                $("#dataTransport").hide();
                return;
            }else{
                status1= false;
                $("#DataNakladnaya").show();
                 $("#dataTransport").show();
            }
        });
    }else{
        $("#DataNakladnaya").show();
        $("#dataTransport").show();
    }
    let data ={"zanyato":true,"all":false};
              $.ajax({
                type: "POST",
                url: '{% url 'getDataAuto' %}',
                traditional: true,
                dataType: 'json',
                data: data,
                success: function (dat) {
		if(ves_last==dat.ves && dat.ves!="error"){
		$("#parentVesOnline").css('background-color', '#2f6017');
		$("#parentVesOnline").css('color', 'white');
		$("#fixVes").prop("disabled",false);
		$("#lineVes").removeClass("border border-danger");
		 }else if(dat.ves=="error"){
		$("#parentVesOnline").css('background-color', 'red');
		$("#parentVesOnline").css('color', 'white');
		$("#fixVes").prop("disabled",true);
		$("#lineVes").addClass("border border-danger");
		}else{
		$("#parentVesOnline").css('background-color', '#e6c100');
		$("#parentVesOnline").css('color', 'black');
		$("#fixVes").prop("disabled",true);
		$("#lineVes").removeClass("border border-danger");
		}
		ves_last=dat.ves;
		$("#vesOnline").html(dat.ves)
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
}
getData();

setInterval(getData, 1000);







$(document).ready(function(){$("[data-bs-hover-animate]").mouseenter(function(){var a=$(this);a.addClass("animated "+a.attr("data-bs-hover-animate"))}).mouseleave(function(){var a=$(this);a.removeClass("animated "+a.attr("data-bs-hover-animate"))})});








    </script>


    <style>
        .hidden-menu {
            display: block;
            position: fixed;
            list-style: none;
            padding: 10px;
            margin: 0;

            box-sizing: border-box;
            width: 60%;
            background-color: #eee;
            height: 100%;
            top: 10%;
            left: -60%;
            transition: left .2s;
            z-index: 2;
            -webkit-transform: translateZ(0);
            -webkit-backface-visibility: hidden;
        }

        .hidden-menu-ticker {
            display: none;
        }

        .btn-menu {
            color: #fff;
            background-color: #0058B9;
            padding: 7px;
            position: fixed;
            top: 75px;
            left: 5px;
            cursor: pointer;
            transition: left .43s;
            z-index: 3;
            width: 200px;
            -webkit-transform: translateZ(0);
            -webkit-backface-visibility: hidden;
        }

        .btn-menu span {
            display: block;
            height: 3px;
            background-color: #fff;
            margin: 5px 0 0;
            transition: all .1s linear .43s;
            position: relative;
        }

        .btn-menu span.first {
            margin-top: 0;
        }

        .hidden-menu-ticker:checked ~ .btn-menu {
            left: 55%;
        }

        .hidden-menu-ticker:checked ~ .hidden-menu {
            left: 0;
        }

        .hidden-menu-ticker:checked ~ .btn-menu span.first {
            -webkit-transform: rotate(45deg);
            top: 8px;

        }

        .hidden-menu-ticker:checked ~ .btn-menu span.second {
            opacity: 0;
        }

        .hidden-menu-ticker:checked ~ .btn-menu span.third {
            -webkit-transform: rotate(-45deg);
            top: -8px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    </style>












{% endblock %}
