{% load static %}


<div class="container-fluid">
        <div class="row no-gutters visible">
            <div class="col" type="">
                <h3 class="d-xl-flex justify-content-xl-center" id="clickDataSvet" style="color: rgb(234,97,67); cursor: pointer;">Управление светофорами</h3>
                <hr style="margin-top: 0px;">
                <div class="row" id="svetControl">
                    <div class="col-12 d-flex d-xl-flex justify-content-center align-items-center"><button class="btn btn-success btn-lg" type="button" style="width: 80%;font-size: 24px;height: 100%;">Переключить светофор</button></div>
                </div>
            </div>
        </div>
    </div>